body{
    font-family: Arial, Helvetica, sans-serif;
}
.Avto{
    position: relative;
    bottom: 40px;
    left: 80px;
    color: grey;
    font-family: bmwTypeNextWeb,Arial,Helvetica,sans-serif;
    text-decoration: none;
    padding-left: 20px;
}
.Avto:hover{
    position: relative;
    bottom: 40px;
    left: 80px;
    color: black;
    border-bottom: 3px solid blue;
    font-family: bmwTypeNextWeb,Arial,Helvetica,sans-serif;
    text-decoration: none;
    padding: 41px;
}
.kart{
    width: 100%;
    height: 100%;
}
.mainn{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.maintext{
    text-align: left;
    font-size: 19px;
    padding: 20px;
    font-family: inherit;   
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 180px;
    min-height: 3.25rem;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color .25s ease;
    border: 3px solid blue;
    background-color: blue;
    color: white;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 60px;
}
button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 180px;
    min-height: 3.25rem;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color .25s ease;
    border: 3px solid darkblue;
    background-color: darkblue;
    color: white;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 60px;
}
.buttonimg{
position: relative;
left: 13px;
top: 40px;
}
h2{
    padding-top: 30px;
    font-size: 30px;
}
.posilani{
    text-decoration: none;
    color: black;
}
.posilani:hover{
    text-decoration: none;
    color: blue;
 transition:ease-in 0.16s;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}
.NameAuto{
    font-size: 30px;
}
.TwoCar{
    text-align: center;
    position: relative;
    bottom: 270px;
}
.FiveCar{
    text-align: center;
    position: relative;
    bottom: 270px;
}
.SixAuto{
    text-align: right;
    position: relative;
    bottom: 535px;    
}
.ChapterThree{
    position: relative;
    bottom: 780px;
}
.ChapterTwo{
    position: relative;
    bottom: 270px;
}
.ChapterFour{
    position: relative;
    bottom: 720px;
}
.ChapterFive{
    position: relative;
    bottom: 680px; 
}
.SevenAuto{
    text-align: center;
    position: relative;
    bottom: 250px;
}
.EightAuto{
    text-align: right;
    position: relative;
    bottom: 510px;
}
.NineAuto{
    position: relative;
    bottom: 1200px; 
}
.ChapterSix{
    position: relative;
    bottom: 1200px;   
}
.ElevenAuto{
    text-align: center;
    position: relative;
    bottom: 270px;
}
.TwoTenAuto{
    text-align: right;
    position: relative;
    bottom: 540px; 
}
.ThreeTenAuto{
    position: relative;
    bottom: 540px;
}
.PriceText{
    font-size: 16px;
    opacity: 0.7;
    position: relative;
    bottom: 1700px;
    left: 50px;
}
.buttontwo{
position: relative;
bottom: 1650px;
}
.TextProposition{
    position: relative;
    bottom: 1650px;
    font-size: 35px;
    left: 130px;
}
.RatingAuto{
    position: relative;
    bottom: 1650px;
    font-size: 30px; 
    left: 130px;
}
.ValueAuto{
    position: relative;
    bottom: 1650px;
    font-size: 19px; 
    left: 130px;
}
.OriginalWheels{
    position: relative;
    bottom: 1880px;
    font-size: 28px; 
    left: 840px;
}
.WinterWheels{
    position: relative;
    bottom: 1840px;
    font-size: 19px; 
    left: 840px;
}
.TwoLink{
    text-decoration: none;
    color: black; 
    position: relative;
    bottom: 1860px;
    font-size: 16px; 
    left: 840px;
}
.TwoLink:hover{
    text-decoration: none;
    color: blue; 
    position: relative;
    bottom: 1860px;
    font-size: 16px; 
    left: 840px;   
    transition: ease-in 0.16s;
}
.ThreeLink{
    text-decoration: none;
    color: black; 
    position: relative;
    bottom: 1880px;
    font-size: 16px; 
    left: 130px;
}
.ThreeLink:hover{
    text-decoration: none;
    color: blue; 
    position: relative;
    bottom: 1880px;
    font-size: 16px; 
    left: 130px;   
    transition: ease-in 0.16s;
}
.info{
    color: black; 
    position: relative;
    bottom: 1860px;
    font-size: 16px; 
    left: 130px;   
}
.FindDiler{
    background-color: rgb(216, 210, 210);
    color: rgb(73, 73, 73);
    height: 120px;
    width: 80px;
    text-decoration: none;
    padding: 50px 70px;
    bottom: 1760px;
    left: 100px;
    position: relative;
}
.FindDiler:hover{
    background-color: rgb(189, 180, 180);
    color: rgb(73, 73, 73);
    height: 120px;
    width: 80px;
    text-decoration: none;
    padding: 50px 70px;
    bottom: 1760px;
    left: 100px;
    position: relative;                                                                              
}
.TestDrive{
    background-color: rgb(216, 210, 210);
    color: rgb(73, 73, 73);
    height: 120px;
    width: 80px;
    text-decoration: none;
    padding: 50px 90px;
    bottom: 1760px;
    left: 110px;
    position: relative; 
}
.TestDrive:hover{
    background-color: rgb(189, 180, 180);
    color: rgb(73, 73, 73);
    height: 120px;
    width: 80px;
    text-decoration: none;
    padding: 50px 90px;
    bottom: 1760px;
    left: 110px;
    position: relative;
}
.AutoSight{
    background-color: rgb(216, 210, 210);
    color: rgb(73, 73, 73);
    height: 120px;
    width: 80px;
    text-decoration: none;
    padding: 50px 70px;
    bottom: 1760px;
    left: 120px;
    position: relative; 
}
.AutoSight:hover{
    background-color: rgb(189, 180, 180);
    color: rgb(73, 73, 73);
    height: 120px;
    width: 80px;
    text-decoration: none;
    padding: 50px 70px;
    bottom: 1760px;
    left: 120px;
    position: relative;
}
.Configurator{
    background-color: rgb(216, 210, 210);
    color: rgb(73, 73, 73);
    height: 120px;
    width: 80px;
    text-decoration: none;
    padding: 50px 70px;
    bottom: 1760px;
    left: 130px;
    position: relative; 
}
.Configurator:hover{
    background-color: rgb(189, 180, 180);
    color: rgb(73, 73, 73);
    height: 120px;
    width: 80px;
    text-decoration: none;
    padding: 50px 70px;
    bottom: 1760px;
    left: 130px;
    position: relative;
}
.AllService{
    position: relative;
    left: 80px;
}
.Contact{
    position: relative;
bottom: 1650px;
left: 200px;
}
