body{
    font-family: Arial, Helvetica, sans-serif;
}
.Avto{
    position: relative;
    bottom: 40px;
    left: 80px;
    color: grey;
    font-family: bmwTypeNextWeb,Arial,Helvetica,sans-serif;
    text-decoration: none;
    padding-left: 20px;
}
.Avto:hover{
    position: relative;
    bottom: 40px;
    left: 80px;
    color: black;
    border-bottom: 3px solid blue;
    font-family: bmwTypeNextWeb,Arial,Helvetica,sans-serif;
    text-decoration: none;
    padding: 41px;
}
.kart{
    width: 100%;
    height: 100%;
}
.mainn{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.maintext{
    text-align: left;
    font-size: 19px;
    padding: 20px;
    font-family: inherit;   
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 180px;
    min-height: 3.25rem;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color .25s ease;
    border: 3px solid blue;
    background-color: blue;
    color: white;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 60px;
}
button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 180px;
    min-height: 3.25rem;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color .25s ease;
    border: 3px solid darkblue;
    background-color: darkblue;
    color: white;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 60px;
}
.buttonimg{
position: relative;
left: 13px;
top: 40px;
}
h2{
    padding-top: 30px;
    font-size: 30px;
}
.posilani{
    text-decoration: none;
    color: black;
}
.posilani:hover{
    text-decoration: none;
    color: blue;
 transition:ease-in 0.16s;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}
.NameAuto{
    font-size: 30px;
}
.TwoCar{
    text-align: center;
    position: relative;
    bottom: 270px;
}
.FiveCar{
    text-align: center;
    position: relative;
    bottom: 270px;
}
.SixAuto{
    text-align: right;
    position: relative;
    bottom: 535px;    
}
.ChapterThree{
    position: relative;
    bottom: 780px;
}
.ChapterTwo{
    position: relative;
    bottom: 270px;
}
.ChapterFour{
    position: relative;
    bottom: 720px;
}
.ChapterFive{
    position: relative;
    bottom: 680px; 
}
.SevenAuto{
    text-align: center;
    position: relative;
    bottom: 250px;
}
.EightAuto{
    text-align: right;
    position: relative;
    bottom: 510px;
}
.NineAuto{
    position: relative;
    bottom: 1200px; 
}
.ChapterSix{
    position: relative;
    bottom: 1200px;   
}
.ElevenAuto{
    text-align: center;
    position: relative;
    bottom: 270px;
}
.TwoTenAuto{
    text-align: right;
    position: relative;
    bottom: 540px; 
}
.ThreeTenAuto{
    position: relative;
    bottom: 540px;
}
.PriceText{
    font-size: 16px;
    opacity: 0.7;
    position: relative;
    bottom: 1700px;
    left: 50px;
}
.buttontwo{
position: relative;
bottom: 1650px;
}
.TextProposition{
    position: relative;
    bottom: 1650px;
    font-size: 35px;
}
